
<div class="main">
<div style="text-align: right;">
<a href="/logout" class="button">Log Out</a>
</div>
    <ul>
        <li> <a href="/home" class="button">Home</a></li>
        <li> <a href="/books" class="button">My Bookgenie List</a></li>
  
  
    </ul>
   
</div>

  <div style="text-align: center;">

<h1><p style = "font-family:Verdana,arial,helvetica;">
 Genie, my wish is to edit this book!
  </p>
  </h1>


 
<fieldset>
<form action="/books/<%= @book.id %>" method="POST" >
<input type="hidden" id="hidden" name="_method" value="patch">

<br><label>Book Title</label>
    <hr><input type="text" name="Book Title" value="<%= @book.book_title %>">
    <p>  </p>

    <label>Author</label>
    <hr><input type="text" name="Author" value="<%= @book.author %>">
    <p>  </p>
	
     <label>Book Genre</label>
     <hr><input type="text" name="Book Genre" value="<%= @book.book_genre %>">
     <p>  </p>
     <label>Number of Pages</label>
     <hr><input type="text" name="Number of Pages" value="<%= @book.number_of_pages %>">
     <p>  </p>
     <label>Starting Date</label>
     <hr><label for="date">Select a date:</label>
     <input type="date" id="myDate" name="start" value="<%= @book.start %>">    
     <p id="demo"></p>
     
     <script>
     function myFunction() {
       var x = document.getElementById("myDate").value;
       document.getElementById("demo").innerHTML = x;
     }
     </script>
     
   

     <p>  </p>
     <label>End Date</label>
     <hr><label for="date">Select a date:</label>
    <input type="date" id="myDate" name="end" value="<%= @book.end %>">   
     <p id="demo"></p>
     
     <script>
     function myFunction() {
       var x = document.getElementById("myDate").value;
       document.getElementById("demo").innerHTML = x;
     }
     </script>
     
   
     <hr><label>1st time I can read (Atleast 5 minutes): </label>
     <hr><label for="time">Select a time:</label>
  <input type="time" id="1st_time" name="time_1" value="<%= @book.time_one %>">

     </select>
     <p>  </p>
     <hr><label>2nd time I can read (Atleast 5 minutes):</label>
     <hr><label for="time">Select a time:</label>
     <input type="time" id="2nd_time" name="time_2" value="<%= @book.time_two %>">
        
	 </select>
     <p>  </p>
     <hr><label>Have I read this book yet?</label>
     <hr><select id="Select option" name="read" value="<%= @book.read %>">
		<option value="yes">Yes</option>
		<option value="no">No</option>
	 </select>
     
    <br>
    <p>  </p>

<input type="submit" class="button" value="Edit Book">
    </form>

    </div>