<div class="main">
<div style="text-align: right;">
<a href="/logout" class="button">Log Out</a>
</div>
    <ul>
        <li> <a href="/home" class="button">Home-Playlist</a></li>
        <li> <a href="/books" class="button">My Bookgenie List</a></li>
    </ul>
   
</div>

 
<div style="text-align: center;">
<h1>M Y  </h1>
<br><h3>B O O K G E N I E</h3>  
<br><h1>L I S T </h1>  
</div>

<div style="text-align: center;">
<img src="images/unnamed.jpg" class="img-responsive main-image">



<h2><%@user.books.each do |book|%></h2> 
<h2>Book Title: <%=book.book_title%></h2>
<h3>Author: <%=book.author%></h3>
<h3>Genre: <%=book.book_genre%></h3>

<br><a href="/books/<%= book.id %>/edit" class="button">Edit</a></b>

<form action="/books/<%= book.id %>/delete" method="post">
            <input id="hidden" type="hidden" name="_method" value="delete">
    
     <button class="button">Delete</button>




 <br><%end%>


 <a href="/books/new" class="block">Add Books</a>
 </div>


  


 




 
  

  